body{
    font-family: 'Fira Sans', sans-serif;
}


.bg-black{
    background-color: black;
}
/* #caption{
    padding-bottom: 170px;
} */
.home-section .btn-outline-light{
    font-size: 20px;
}
.home-section{
    font-size: 48px;
}

.about-section p{
    font-size: 16px;
    line-height: 28px;
}
.custom-font-h3{
    font-size: 35px;
}
.service-box h4{
    font-size: 18px;
}
.contact-section{
    background-image: url(./Images/Slice\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.btn-success{
    
    font-size: 18px;
}
.address-box{
    font-size: 16px;
    line-height: 22px;
    
}


.contact-box .form-control{
    height: 50px;
    
    
}
.contact-box textarea.form-control{
    height: 150px;
}

@media (max-width:991px){
    #focusSlider .carousel-caption h1{
        font-size: 36px;
    }
}

@media (max-width:767px){
    .header-section .navbar-brand img {
        width: 180px;
    }
}

@media (max-width: 767px){
    .contact-section img {
        width: 40px;
    }
}
@media (max-width: 400px){
    .contact-section img {
        align-items: center;
    }
}